/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <shields/corne/corne.dtsi>

&default_transform {
    col-offset = <6>;
};